<h1>Login Page</h1>
<div>
    <form action="/login" method="post">
        <div>
            <span>Username</span>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <span>Password</span>
            <input type="password" name="password" placeholder="password">
        </div>
        <button>Login</button>
        <a href="/">Go Back</a>
    </form>
</div>