<h1>Sign Up</h1>
<div>
    <form action="/register" method="post">
        <div>
            <span>Username</span>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div>
            <span>Password</span>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div>
            <span>Admin Code</span>
            <input type="text" name="adminCode" placeholder="Admin Code">
        </div>
        <button>Register</button>
        <a href="/">Go Back</a>
    </form>
</div>